.rmdp-arrow {
    border: solid rgba(0, 0, 0, 0.54) !important;
    border-width: 0 2px 2px 0 !important;
}

.rmdp-week-day {
    color: #4F4F4F !important;
    font-weight: 700 !important;
}
.rmdp-day.rmdp-today span, .rmdp-day span {
    background: transparent !important;
    color: #4F4F4F !important;
}

.rmdp-day.rmdp-selected span:not(.highlight), .rmdp-day span:hover {
    border: 1px solid #2F80ED;
    background: transparent !important;
    color:#4F4F4F !important;
}